.TodosContainer {
    width: 440px;
    height: 437px;
    margin: 10% auto;
    padding: 35px 30px;
    border-radius: 5px;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }